<nav class="pc-sidebar">
    <div class="navbar-wrapper">
        <div class="m-header">
            <a class="navbar-brand ps-3 fs-3" href="#">MY Portfolio</a>
            @* <a href="#" class="b-brand text-primary">
                <img src="~/Mantis-Bootstrap-1.0.0/dist/assets/images/logo-dark.svg" class="img-fluid logo-lg" alt="logo">
            </a> *@
        </div>
        <div class="navbar-content">
            <ul class="pc-navbar">
                <li class="pc-item">
                    <a href="#" class="pc-link">
                        <span class="pc-micon"><i class="ti ti-dashboard"></i></span>
                        <span class="pc-mtext">Dashboard</span>
                    </a>
                </li>
                <li class="pc-item">
                    <a href="/Category/Index" class="pc-link">
                        <span class="pc-micon"><i class="ti ti-clipboard-list"></i></span>
                        <span class="pc-mtext">Kategoriler</span>
                    </a>
                </li>
                <li class="pc-item">
                    <a href="/Project/Index" class="pc-link">
                        <span class="pc-micon"><i class="ti ti-package"></i></span>
                        <span class="pc-mtext">Projeler</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>