@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
@await Component.InvokeAsync("_AdminLayoutHeadComponent")
<body data-pc-preset="preset-1" data-pc-direction="ltr" data-pc-theme="light">
    <div class="loader-bg">
        <div class="loader-track">
            <div class="loader-fill"></div>
        </div>
    </div>
    @await Component.InvokeAsync("_AdminLayoutSidebarComponent")
    @await Component.InvokeAsync("_AdminLayoutHeaderComponent")
    <div class="pc-container">
        <div class="pc-content">
            @await Component.InvokeAsync("_AdminLayoutPageHeaderComponent")
            @RenderBody()
        </div>
    </div>
    @await Component.InvokeAsync("_AdminLayoutFooterComponent")
    @await Component.InvokeAsync("_AdminLayoutScriptComponent")
</body>
</html>