@model List<Category>
@{
    ViewData["Title"] = "Kategoriler";
    Layout = "~/Views/AdminLayout/Layout.cshtml";
}

<table class="table table-bordered table-hover">
    <tr>
        <th>#</th>
        <th>Kategori Adı</th>
        <th>İşlemler</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.CategoryId</td>
            <td>@item.CategoryName</td>
            <td>
                <a class="btn btn-outline-danger" href="#">Sil</a>
                <a class="btn btn-outline-info" href="#">Güncelle</a>
            </td>
        </tr>
    }
</table>

<a class="btn btn-outline-primary" href="#">Yeni Kategori</a>